<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382673700802-ul3si3g1ojih3msihb50hk0rr0sqrqab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382673700802-ul3si3g1ojih3msihb50hk0rr0sqrqab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>382673700802-5dnk893vb8252dr0qk8ja3lar3oii3dg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXeuY7Z6EhqE8p3maPvL_rnSfzciN0M60</string>
	<key>GCM_SENDER_ID</key>
	<string>382673700802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleflutter</string>
	<key>PROJECT_ID</key>
	<string>stock-keeper-review</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-keeper-review.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382673700802:ios:9fd09079936a9fd0ad785b</string>
</dict>
</plist>